[submodule "examples"]
	path = examples
	url = https://github.com/marian-nmt/marian-examples
[submodule "regression-tests"]
	path = regression-tests
	url = https://github.com/marian-nmt/marian-regression-tests
[submodule "src/3rd_party/sentencepiece"]
	path = src/3rd_party/sentencepiece
	url = https://github.com/marian-nmt/sentencepiece
[submodule "src/3rd_party/nccl"]
	path = src/3rd_party/nccl
	url = https://github.com/marian-nmt/nccl
[submodule "src/3rd_party/amqp-cpp"]
	path = src/3rd_party/amqp-cpp
	url = https://github.com/ugermann/AMQP-CPP
[submodule "src/3rd_party/crow"]
	path = src/3rd_party/crow
	url = https://github.com/ipkn/crow
[submodule "src/3rd_party/fbgemm"]
	path = src/3rd_party/fbgemm
	url = https://github.com/marian-nmt/FBGEMM
	branch = master
[submodule "src/3rd_party/ssplit-cpp"]
	path = src/3rd_party/ssplit-cpp
	url = http://github.com/ugermann/ssplit-cpp
